{{- if not (.Param "hideFooter") }}
<footer class="footer">
    <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ site.Title }}</a></span>
</footer>
{{- end }}

<script>
    let menu = document.getElementById("menu");
    if (menu) {
        menu.onscroll = function () {
            localStorage.setItem("menu-scroll-position", menu.scrollLeft);
        };
        (function () {
            var e = localStorage.getItem("menu-scroll-position");
            e && (menu.scrollLeft = parseInt(e, 10));
        })();
    }

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener("click", function (e) {
            e.preventDefault();
            var id = this.getAttribute("href").substr(1);
            if (!window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView({
                    behavior: "smooth"
                });
            } else {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView();
            }
            if (id === "top") {
                history.replaceState(null, null, " ");
            } else {
                history.pushState(null, null, `#${id}`);
            }
        });
    });

    var mybutton = document.getElementById("top-link");
    window.onscroll = function () {
        if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = "1";
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = "0";
        }
    };

    document.getElementById("theme-toggle").addEventListener("click", () => {
        const el = document.querySelector("html");
        if (el.dataset.theme === "dark") {
            el.dataset.theme = "light";
            localStorage.setItem("pref-theme", "light");
        } else {
            el.dataset.theme = "dark";
            localStorage.setItem("pref-theme", "dark");
        }
    });
</script>
